# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Environment variables
.env
.env.test
.env.production

# Firebase
.firebase/
firebase-service-account.json
scripts/migrateImages.ts
scripts/migrate-cache-headers.ts
scripts/removeMediumVariants.ts

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
schuzka.md

# Android & iOS Secrets
android/app/google-services.json
ios/App/App/GoogleService-Info.plist
